<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">InforceTestTask</a>
      <a class="navbar-brand" [routerLink]="['/about']"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/short-urls-table']">Short URL Table</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button *ngIf="!isAuthenticated" class="btn btn-primary" (click)="openSignInModal()">Sign In</button>
            <button *ngIf="isAuthenticated" class="btn btn-danger" (click)="signOut()">Sign Out</button>
          </li>
          <app-sign-in></app-sign-in>
        </ul>
      </div>
    </div>
  </nav>
</header>
