<h1>Hello, world!</h1>
<p>This is my Test Task for joining Inforce Company, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>In this task I must create the following pages:</p>
<ul>
  <li><strong>LOGIN VIEW:</strong> A page where every user can log in or register.</li>
  <li>
    <strong>SHORT URLS TABLE VIEW:</strong> A page where all users can see information about short URLs, such as the full URL and shorter version.
    <p>Every authorized user can add a new URL to shorten or delete the URLs they created. Admins are not restricted by these rules.</p>
  </li>
  <li><strong>SHORT URL INFO:</strong> Detailed information about a single URL of choice. Available only for authorized users.</li>
  <li><strong>ABOUT:</strong> A simple Razor page with information about the URL Shortener algorithm. Visible to everyone.</li>
</ul>
